name: Main

on: [push, pull_request]

jobs:
  security_check:
    name: Security check
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout to workspace
      uses: actions/checkout@master

    - name: Set bot's name and email
      run: |
        git config --global user.name "Github Action"
        git config --global user.email "action@github.com"

    - name: Emulating merge commit to origin/master
      run: |
        git checkout master
        git merge --no-ff "$GITHUB_SHA"

    - name: Run security check
      run: util/security_check.py
